.page_desktop {
    .footer {
        background: #3f4e65;
        color: #fff;
    }
    .footer__wrapper {
        padding-top: 56px;
        padding-bottom: 90px;
    }
    .footer__columns {
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-wrap: wrap;
    }
    .footer__column {
        margin: 15px 35px;
    }
    .footer__column_logo {
        max-width: 300px;
    }
    .footer__column.footer__column_logo {
        margin-left: 0;
    }

    .footer__logo {
        margin-bottom: 15px;
    }

    .footer__about {
        margin-bottom: 45px;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #ffffff;
    }
    .footer__subscribe-discount {
        margin-bottom: 15px;
    }
    .subscribe-discount {
        > label {
            margin-bottom: 14px;
            display: block;
            font-weight: 400;
            font-size: 12px;
            line-height: 150%;
            color: #ffffff;
        }
    }
    .subscribe-discount__field {
        max-width: 280px;
        min-height: 59px;
        padding: 13px 10px 13px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        background: #ffffff;
        border-radius: 36px;

        > input {
            background-color: transparent;
            font-weight: 400;
            font-size: 12px;
            line-height: 150%;
            color: #5c6370;
            opacity: 0.6;
        }

        > button {
            width: 39px;
            height: 39px;
            border-radius: 50%;
            overflow: hidden;
            background: #ffc85e;

            > img {
                vertical-align: middle;
            }
        }
    }
    .footer-column {
        min-width: max-content;
    }
    .footer-column__title {
        margin-bottom: 23px;
        white-space: nowrap;
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
        color: #ffffff;
    }
    .footer-column__item {
        margin-bottom: 18px;
        display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #ffffff;
        text-decoration: none;
    }
    a.footer-column__item:hover {
        text-decoration: underline;
    }

    .footer-column__button {
        min-height: 59px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 49px;
        gap: 12px;
        border-radius: 79px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.214286em;
        white-space: nowrap;
        color: #ffffff;
        cursor: pointer;
    }
    .footer-column__button.footer-column__button_yellow {
        background: #ffc85e;
    }

    .socials {
    }

    .socials__link {
        width: 39px;
        height: 39px;
        overflow: hidden;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    .socials__link + .socials__link {
        margin-left: 10px;
    }

    .socials__link_whatsapp {
        background: #00e676;
    }
    .socials__link_telegram {
        background: #40b3e0;
    }
    .footer__contacts {
    }
    .footer-contacts {
        color: #ffffff;
    }
    .footer-contacts__phone {
        margin-bottom: 5px;
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;
    }
    .footer-contacts__work-time {
        margin-bottom: 5px;
        font-weight: 300;
        font-size: 12px;
        line-height: 150%;
    }
    .footer-contacts__order-call {
        display: block;
        margin-bottom: 25px;
        font-weight: 400;
        font-size: 10px;
        line-height: 150%;
        text-decoration: underline;
        color: inherit;
    }
    a.footer-contacts__order-call:hover {
        text-decoration: none;
    }

    .footer-contacts__mail {
        margin-bottom: 25px;
        font-weight: 600;
        font-size: 14px;
        line-height: 1.285714em;

        > sub {
            font-weight: 300;
            font-size: 12px;
        }
    }
    .footer-contacts__cards {
    }
}
